.agents
.claude
skills-lock.json

plans/
__pycache__/
./tests/__pycache__/
./app/__pycache__/

flask.log
.env
env/

# db files
local.db-changes
local.db-info
local.db-wal
local.db-wal-revert
local.db-info.bak
local.db-info.bak2
local.db-shm

# test folder
tests/